<!-- Form stop Submit button, get it with jQuery event -->
      <form id="form_existing_maps" class="form">

      <div class="form-group row">
        <div class="col-sm-3">
          <label for="select_existing_maps">Add Exisiting Maps</label>
        </div>
        <div class="col-sm-8">
          <select class="form-control" id="select_existing_maps">
          </select>
        </div>
        <div class="col-sm-1">
            <div id="load_exisiting_map" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Load">
              <i class="fas fa-arrow-circle-down"></i>
            </div>
        </div>

      </div>

      <hr></hr>
      </form>

  <form id="form_map" class="form">

      <div class="subtitles_form">
        <p><h4>New map</h4></p>

      </div>

      <div class="general_settings">
    <div class="form-group row">
        <label for="formMapName">Map Name</label>
       <div class="col-sm-10">
         <input name="map_name" type="text" class="form-control form_general" id="formMapName" placeholder="e.g. They Call Me Trinity" value="They Call Me Trinity">
       </div>
     </div>
     </div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-baselayers-tab" data-toggle="pill" href="#pills-baselayers" role="tab" aria-controls="pills-baselayers" aria-selected="true">BaseMap</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-layers-tab" data-toggle="pill" href="#pills-layers" role="tab" aria-controls="pills-layers" aria-selected="false">Layers</a>
  </li>
<!--   <li class="nav-item hidden">
    <a class="nav-link" id="pills-markers-tab" data-toggle="pill" href="#pills-markers" role="tab" aria-controls="pills-markers" aria-selected="false">Markers</a>
  </li> -->
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-baselayers" role="tabpanel" aria-labelledby="pills-baselayers-tab">
     <!-- START of BASELAYERS definition-->

    <div class="baselayers">

            <div class="subtitles_form">
           <p><h6>Choose your Basemap</h6></p>
             </div>
          <div class="box">
             <div class="form-group row">
               <div class="col-sm-4">Use default Basemap</div>
               <div class="col-sm-4">
                 <div class="form-check">
                   <input name="default_osm" class="form-check-input form_baselayers_osm" type="checkbox" id="CheckOSM">
                   <label class="form-check-label" for="CheckOSM">
                     OSM
                   </label>
                 </div>
               </div>
               <div class="col-sm-4">
                <div class="form-check">
                  <input name="default_satellite" class="form-check-input form_baselayers_osm" type="checkbox" id="CheckSatellite" >
                  <label class="form-check-label" for="CheckSatellite">
                    Satellite
                  </label>
                </div>
              </div>
             </div>
             <hr></hr>

                <div class="btn btn-info section_title">Mapbox basemap settings </div>
            <div class="toggle-collapse">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputAttribution">Name</label>
                    <input name="name" type="text" class="form-control form_baselayers_mapbox" placeholder="My MapBox basemap">
                  </div>
                </div>
               <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="Mapbox">Basemap url+token <a target="_blank" href="https://mapbox.com/help/how-access-tokens-work/"><i class="far fa-question-circle"></i></a> </label>
                    <input name="url" type="text" class="form-control form_baselayers_mapbox" id="Mapbox" placeholder="e.g. https://api.mapbox.com/styles/mapbox/satellite-street/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWxwYWNhZ2lzIiwiYSPippoPetitoGIS">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="ZoomSelect">Select the Zoom (0 whole world - 16 max Zoom)</label>
                  <select class="form-control form_baselayers_mapbox" id="ZoomSelect" name="opt-maxZoom">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                  </select>
                  </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputAttribution">Map Attribution</label>
                  <input name="opt-attribution" type="text" class="form-control form_baselayers_mapbox" id="inputAttribution" placeholder="e.g. Map tiles by Stamen Design, under CC BY 3.0. Data by OpenStreetMap, under CC BY SA">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputMapID">Map ID (Optional)</label>
                  <input name="opt-id" type="text" class="form-control form_baselayers_mapbox" id="inputMapID" placeholder="e.g. mapbox.streets">
                </div>
                </div>
              </div>

            <div class="btn btn-info section_title">Add WMS basemap settings  (e.g. Geoserver layer...)</div>
             <div class="toggle-collapse">
              <div class="form-group">
                <label for="inputWMSName">Basemap Name</label>
                <input name="name" type="text" class="form-control form_baselayers_wms" id="inputWMSName" placeholder="Satellite">
              </div>
              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputWMS">WMS url</label>
                <input name="url" type="text" class="form-control form_baselayers_wms" id="inputWMS" placeholder="e.g. https://demo.boundlessgeo.com/geoserver/ows?">
              </div>
              <div class="form-group col-md-6">
                <label for="inputWMSLayer">Layer name</label>
                <input name="layers" type="text" class="form-control form_baselayers_wms" id="inputWMSLayer" placeholder="e.g. nasa:bluemarble">
              </div>
              </div>
            </div>
        </div>
    </div>
    <!-- END of BASELAYERS definition-->
  </div>
  <div class="tab-pane fade" id="pills-layers" role="tabpanel" aria-labelledby="pills-layers-tab">
       <!-- START of ADD Layers form -->

      <div class= "addlayers">
        <div class="subtitles_form">
       <h6>Add Layers</h6>
        </div>
        <div class="box">
         <div class="btn btn-info section_title">Add WMS Layers settings  (e.g. Geoserver layer...)</div>
         <div class="toggle-collapse">
           <div id="wms_layers_group">
           <div id="wms_layers_group-1" class="group_layer wms_group_layer">
            <div class="form-group">
              <label for="LayerWMSName">Layer Name (as you want to display it in the legend)</label>
              <input name="name" type="text" class="form-control form_overlayers_wms" id="LayerWMSName" placeholder="World Boundaries">
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputLayerWMS">WMS url</label>
              <input name="url" type="text" class="form-control form_overlayers_wms" id="inputLayerWMS" placeholder="e.g. https://lrm-maps.jrc.ec.europa.eu/geoserver/h05-esp/wms?">
            </div>
            <div class="form-group col-md-6">
              <label for="inputNameWMSLayer">Layer name</label>
              <input name="opt-layers" type="text" class="form-control form_overlayers_wms" id="inputNameWMSLayer" placeholder="e.g. workspace:layer-569">
            </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2">Layer visibility</div>
              <div class="col-sm-4">
                <div class="form-check">
                  <input name="visibility" class="form-check-input form_overlayers_wms" type="checkbox" id="LryVisibility" value="true" checked="checked">
                  <label class="form-check-label" for="LryVisibility">
                    Turn on
                  </label>
                </div>
              </div>
              <div class="col-sm-2">Legend (Geoserver)</div>
              <div class="col-sm-4">
                <div class="form-check">
                  <input name="legend" class="form-check-input form_overlayers_wms" type="checkbox" id="LryLegend" value="true" checked="checked">
                  <label class="form-check-label" for="LryLegend">
                    Add Legend
                  </label>
                </div>
              </div>
            </div>
            <div class="btn btn-warning btn-sm delete-this-layer" action="clean"><i class="fas fa-eraser fa-2x" data-toggle="tooltip" title="Erase Layer"></i></div>
            <hr></hr>
            </div>
            </div>
          </div>
        <div id="add_wms_layer" class="addLayer btn btn-success"> <i class="fas fa-plus"> </i><span><i>Add more WMS layers</i></span> </div>

        </div>



       <!--ADD geoJSON Layer -->

        <div class="box">
          <div class="btn btn-info section_title">Add geoJSON Layers </div>
          <div class="toggle-collapse">
           <div id="gjson_layers_group">
           <div id="gjson_layers_group-1" class="group_layer gjson_group_layer">

                  <div class="form-group row">
                    <label for="Layergeojsoname">Layer Name (as you want to display it in the legend)</label>
                    <input name="name" type="text" class="form-control form_overlayers_gjson" id="Layergeojsoname" placeholder="e.g. Troublemakers">
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputgeojson">Url or path to folder</label>
                      <input name="url" type="text" class="form-control form_overlayers_gjson" id="inputgeojson" placeholder="e.g. /data/budspencer.geojson">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="SRSelect">Select the SR</label>
                      <select name="type" class="form-control form_overlayers_gjson" id="SRSelect">
                      <option label="Geographical SR (e.g. EPSG 4326)">geojson</option>
                      <option label="Projected SR ">prj_geojson</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEPSG">EPSG (for projected geoJSON only)</label>
                      <input name="epsg_code" type="text" class="form-control form_overlayers_gjson" id="inputEPSG" placeholder="EPSG:32632">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="EPSG_def">EPSG Definition (for projected geoJSON only)</label>
                      <input name="epsg_def" type="text" class="form-control form_overlayers_gjson" id="EPSG_def" placeholder="+proj=utm +zone=32 +ellps=GRS80 +datum=WGS84 +units=m +no_defs">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="Inputpopup_field">Popup Field ( * all the fields or {"field_name":"Alias",...} )</label>
                    <input name="opt-popup_fields" type="text" class="form-control form_overlayers_gjson" id="Inputpopup_field" placeholder="e.g. Places">
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-2">Layer visibility
                    </div>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input name="visibility" class="form-check-input form_overlayers_gjson" type="checkbox" id="LryVisibility" value=true>
                        <label class="form-check-label" for="LryVisibility">Turn on</label>
                      </div>
                    </div>
                  </div>
                <div class="btn btn-warning btn-sm delete-this-layer" action="clean"><i class="fas fa-eraser fa-2x" data-toggle="tooltip" title="Erase Layer"></i>
                </div>
                <hr></hr>
            </div>
            </div>
            </div>
            <div id="add_geojson_layer" class="addLayer btn btn-success"> <i class="fas fa-plus"> </i><span><i>Add more geoJSON layers</i></span></div>
        </div>
      </div>
  </div>
<!--   <div class="tab-pane fade" id="pills-markers" role="tabpanel" aria-labelledby="pills-markers-tab">
     <div class="subtitles_form">
           <p><h6>Add Markers and actions to your Map</h6></p>
            <small>Fill marker details then press add to place it in the map.</small>
     </div>
     <div class="box">
      <div id="map_add_markers" style="display:none;">
          <div id="mrk-0">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                      <label class="form-check-label" for="markers_name" >Marker's name</label>
                      <input id="markers_name" name="markers_popup_c" type="text" class="form-control markers_popup" placeholder="Marker">
                </div>
                <div class="row">
                      <label style="display: block">Media</label>           
                      <div class="data-media-preview"><p>No Media Selected</p></div>
                      <div class="data-media-details">
                        <input class="form-control" id="url" type="text" placeholder="URL to your media">

                        <div class="data-media-upload">
                        or  <button id="upload_media" class="btn" title="Upload image" href="#upload_modal" data-toggle="modal"><i class="icon-cloud-upload icon-large"></i> Upload an Image </button>

                        </div>
                </div>
                <div class="row">                   
                        <input class="form-control" id="marker-credit" type="text" placeholder="Credit">
                        <textarea class="form-control" id="marker-caption" placeholder="Caption" rows="3"></textarea>
                         <div class="data-media-upload"><em>Accepts <a href="#html_modal" data-toggle="modal">HTML</a></em></div>
                      </div>
                </div>
              
              </div>
              
              <div class="btn btn-dark col-sm-2 map_add_markers"  data-toggle="tooltip" title="Click here to Add a marker, then click on the map to place it."> + add </div>
            </div>
            <div class="btn btn-warning btn-sm delete-this-marker" action="clean"><i class="fas fa-eraser fa-2x" data-toggle="tooltip" title="Erase Marker"></i></div>                            
            <hr></hr>
          </div>
      </div>
      <div id="add_more_marker" class="addMarker btn btn-success"> <i class="fas fa-plus"> </i><span><i>Add more Markers</i></span> </div>
     </div>
  </div> -->
</div>

<!--create map button -->
<div class="form-group row">
  <div class="col-sm-10">
  </div>
</div>
</div>
</form>

<div id="map_idx_title" class="hidden-box">
  Map Preview
</div>
<div id="map_preview" class="hidden-box">
</div>
<hr></hr>
<div id='createmap' class="btn btn-primary">Create/Update Map!</div>
<button id="map_default_bbox" class="btn btn-primary" style="display:none;"  data-toggle="tooltip" title="Set the default view extent for this map.">Set View</button>

<hr></hr>
<div id='placemap' class="btn btn-success" data-toggle="tooltip" title="Place Map to main slide Area, Create Map First!">Place Map in this Slide!</div>
<div id='deletemap' class="btn btn-warning" data-toggle="tooltip" title="Remove the Map from this SLide, this will not Delete the Map!">Remove Map from this Slide!</div>

 <div class="modal fade" id="marker-text" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Marker - <code></code></></h5>
            <button type="button" class="close" onclick="$('#marker-text').modal('hide');" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="marker_popup_text">
            <h5>Marker Header/Title</h5>
            <input name="marker_header" id="marker_header" type="text" class="form-control form_baselayers_mapbox" placeholder="Marker Header/Title">
            <h5>Marker Text</h5>
             <textarea name="popup_editor" id="popup_editor">... New Marker ...</textarea>         
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick="save_popup_marker();">Save</button>
            <button type="button" class="btn btn-secondary" onclick="$('#marker-text').modal('hide');">Close</button>
          </div>
        </div>
      </div>
</div>

<!-- Scripts -->

<script src="./templates/map_js/proj4.js" type="text/javascript"></script>
<script src="./templates/map_js/proj4leaflet.js" type="text/javascript"></script>

<script src="./templates/map_js/leaflet.ajax.min.js" type="text/javascript"></script>
<script src="./templates/map_js/L.TileLayer.BetterWMS.js" type="text/javascript"></script>

<style>
.box {
    border: solid 10px #f2f2f2;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.hidden-box{
  border: solid 2px silver;
background-color: #f2efe9;
border-radius: 5px;
padding: 5px;
margin-bottom: 10px;
text-align: center;
display: none;
}
  
  .hidden{
    display:none;
  }

.form {
margin-top:40px;
margin-left:1%;
margin-right:1%;
}

.section_title{
  display:block!important;
  margin-bottom:5px;
}

.toggle-collapse{
  display:none;
}

#map_preview{
  min-height:400px;
  /*display:none;*/
}

.box hr{
      border: 0.5px solid silver;
    box-shadow: 0px 2px 3px 0px silver;
}

.delete-this-layer{
  float:right;
}

.delete-this-marker{
  float:right;
  margin-top: 16px;
 }
  
.btn-pressed {
  border: 2px solid lightgreen!important;
  background-color:silver!important;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color: #f2f2f2!important;
  }

.data-media-preview{
  margin:5px;
  background-color:silver;
  min-width:50px;
  max-width:100px;
  height:auto;
  min-height:50px;
  padding:3px;
  text-align:center;
  border-radius:5px;
}
  
</style>

<script>

/* Initialize tooltips here */
tooltips();

/* marker add function on or off */
var add_marker;
  
/* Popup MArker Editor */
CKEDITOR.replace( 'popup_editor' );
  
// Script for adding marker on map click
function onMapClick(e,mks={},map_id="",popupc="") {

   alert('onMapClick function called - row 440');
  
    var geojsonFeature = {
        "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "Point",
                "coordinates": [e.latlng.lat, e.latlng.lng]
        }
    }

    var next_key = Math.max(...Object.keys(GlobalMaps[ map_id ].map.markers)) + 1;
    if (next_key<0){
      next_key = 0;
    }
    mks[ next_key ] = {'lat':e.latlng.lat, 'lon':e.latlng.lng, 'popup':popupc};
    GlobalMaps[ map_id ].map.markers = JSON.parse(stringify(mks,null,2));

    //$('#'+'slide-'+get_current_mainslide_id().split('-')[1]).append('Duccio te ghe Cliccà! '+e.latlng.lat+' - '+e.latlng.lng+'<br/>'+popupc);

    var marker;

    return L.geoJson(geojsonFeature, {

        pointToLayer: function(feature, latlng){

            marker = L.marker(e.latlng, {

                title: "Resource Location",
                alt: "Resource Location",
                riseOnHover: true,
                draggable: true,

            }).bindPopup(
              popupc + "<hr/>" +
              "<input type='button' map-id='"+map_id+"' mrk-id="+next_key+" value='Delete this marker' class='marker-delete-button'/>"
            );

            marker.on("popupopen", onPopupOpen);

            return marker;
        }
    });
}

// Function to handle delete as well as other events on marker popup open
function onPopupOpen() {

    var tempMarker = this;

    //var tempMarkerGeoJSON = this.toGeoJSON();

    //var lID = tempMarker._leaflet_id; // Getting Leaflet ID of this marker
    var map_id = $($(".marker-delete-button:visible")[0]).attr('map-id');
    var mrk_id = $($(".marker-delete-button:visible")[0]).attr('mrk-id');

  // To remove marker on click of delete
    $(".marker-delete-button:visible").click(function () {
        mapPreview.map.removeLayer(tempMarker);
        delete GlobalMaps[ map_id ].map.markers[ mrk_id ];
    });

}

  $("#createmap").click(function(e){
    e.preventDefault();
    $("#results").empty();
    var baselayers = [];
    var overlayers = [];
    var mks = {};
    var bounds = null;

    var osm_default = document.getElementById('CheckOSM').checked;
    var satellite_default = document.getElementById('CheckSatellite').checked;
    var general_info = $('#form_map .form_general').serializeArray();
    var mapbox = $("#form_map .form_baselayers_mapbox").serializeArray();
    var wms = $("#form_map .form_baselayers_wms").serializeArray();
    
    //TODO: check if map already exists and in case update (to keep markers also)

    if (osm_default) {
      baselayers.push( {
        type:'tileLayer',
        source:'default',
        name:'OSM Standard',
        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        opt: {
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          maxZoom: 19
        }
      });
    }

     if (satellite_default) {
      baselayers.push( {
        type:'tileLayer',
        source:'default_satellite',
        name:'Satellite',
        url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
        opt: {
          attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
          maxZoom: 19
        }
      });
    }

    //..get general infos
    var general_info_obj = {'map_name':''};
    $.each(general_info,function(i,field){
      general_info_obj[field.name] = field.value;
    });

    //..get mapbox baselayer input
      var mbx_wms = { 'type':'tileLayer','opt':{},'source':'mapbox' };
      $.each(mapbox, function(i, field){
          if (field.name.split('-')[0] == 'opt'){
            mbx_wms['opt'][ field.name.split('-')[1] ] = field.value;
          }else{
            mbx_wms[field.name] = field.value;
          }
      });
    if (mbx_wms.name != ""){
      baselayers.push(mbx_wms);
    }
    //..get wms baselayer input
    var b_wms = { 'type':'wms', 'source':"generic_wms"};
    $.each(wms, function(i, field){
        b_wms[field.name] = field.value;
    });
    if (b_wms.name != ""){
      baselayers.push(b_wms);
    }
    //console.log(baselayers);

    //populate overlayers wms
    $('.wms_group_layer').each(function(){
      var o_wms = {'type':'wms','target_id':'#'+this.id,'opt': {
                    transparent: true,
                    format: 'image/png'
                  }};
      var lyr = $("#"+this.id+' .form_overlayers_wms').serializeArray();
      $.each(lyr,function(i,field){
        if (field.name.split('-')[0] == 'opt'){
          o_wms['opt'][ field.name.split('-')[1] ] = field.value;
        }else{
          o_wms[ field.name ] = field.value;
        }
      });
      if( o_wms.hasOwnProperty('name') && o_wms['name'] != "" ){
        overlayers.push(o_wms);
      }
    });

    //populate overlayers geojson and projected-geojson
    $('.gjson_group_layer').each(function(){
      var o_gjson = {'target_id':'#'+this.id, 'opt': {
                popup_img_field: '',
                popup_img_css:'',
                  }};
      var lyr = $("#"+this.id+' .form_overlayers_gjson').serializeArray();
      $.each(lyr,function(i,field){
        if (field.name.split('-')[0] == 'opt'){
          o_gjson['opt'][ field.name.split('-')[1] ] = field.value;
        }else{
          o_gjson[ field.name ] = field.value;
        }
      });
      if (o_gjson['opt']['popup_fields']!='*' && o_gjson['opt']['popup_fields']!=''){
        var opt_toobj = $.parseJSON(o_gjson['opt']['popup_fields']);
        o_gjson['opt']['popup_fields'] = opt_toobj;
      }
      if( o_gjson.hasOwnProperty('name') && o_gjson['name'] != "" ){
        overlayers.push(o_gjson);
      }
    });

    //....TODO populate markers

    $('#map_preview').empty();
    $('.hidden-box').show();
    $('#map_default_bbox, #map_add_markers').show();
    $('#pills-tab li.hidden').fadeIn('slow');

    if (mapPreview == null){
      mapPreview = new MyMap(map_preview_id,baselayers,overlayers,markers_list=mks);
    }else{
      mapPreview.map.remove();
      mapPreview = new MyMap(map_preview_id,baselayers,overlayers,markers_list=mks);
    }
    mapPreview.createMap(0,0,1,map_editable=true);
    bounds = mapPreview.save_bounds();
       
    // //store to GlobalContents.maps object [load_maps.js]
    var act_main_slide = get_current_mainslide_id();
    // if ( typeof GlobalContents.maps[act_main_slide] !== 'undefined' && GlobalContents.maps[act_main_slide].hasOwnProperty('map') ){
    //     console.log('Clean Map obj');
    //     $('#'+act_main_slide).empty();
    //     GlobalContents.maps[act_main_slide]['map'].map.remove();
    // }
    // GlobalContents.maps[act_main_slide] = {};
    // GlobalContents.maps[act_main_slide]['general_info'] = general_info_obj;
    // GlobalContents.maps[act_main_slide]['baselayers'] = baselayers;
    // GlobalContents.maps[act_main_slide]['overlayers'] = overlayers;
    // GlobalContents.maps[act_main_slide]['markers'] = mks;
    // GlobalContents.maps[act_main_slide]['bounds'] = bounds;

    var map_id = getmap_key( title_pk = general_info_obj.map_name);
    $('#map_idx_title').empty().append('<h3 id="map_title" mapid="'+map_id+'">'+general_info_obj.map_name+'</h3>');

    GlobalMaps[ map_id ] = {
      'div_id':act_main_slide,
      'map': {
        'general_info': JSON.parse(stringify(general_info_obj,null,2)),
        'baselayers': JSON.parse(stringify(baselayers,null,2)),
        'overlayers':JSON.parse(stringify(overlayers,null,2)),
        'markers':JSON.parse(stringify(mks,null,2)),
        'bounds':JSON.parse(stringify(bounds,null,2)),
      }
    } ;
    
    // EDITABLE MARKERS
    editable_markers_preview(mapPreview,map_id);


    // attaching function on map click
//     mapPreview.map.on('click', function(e){
//       console.log(add_marker);
//       alert('Duccio');
//       if (add_marker){
//         var popupcontent =  function(){
//           var text = "<p>marker</p>";
//           return text;
//         };
//         var mk = onMapClick(e,mks,map_id,popupcontent());
//         mk.addTo(mapPreview.map);
//         console.log('... Marker Added ...');
//         add_marker = false;
//         $('.map_add_markers').removeClass('btn-pressed');
//       }
//     });

    //render_map(act_main_slide);
});

$('#add_wms_layer').on('click',function() {

   clean_clone_form_group(
         group_class = '.wms_group_layer',
         group_first_to_clone_id='#wms_layers_group-1',
         group_layer_id_prefix='wms_layers_group-',
         target_group_id='#wms_layers_group');

});

$('#add_geojson_layer').on('click',function() {

   clean_clone_form_group(
         group_class = '.gjson_group_layer',
         group_first_to_clone_id='#gjson_layers_group-1',
         group_layer_id_prefix='gjson_layers_group-',
         target_group_id='#gjson_layers_group');
});

$('.delete-this-layer').on('click',function() {
    $(this).closest('.group_layer').find('input:text').val("").end()
                                .find('select').val("").end()
                                .find('input:checkbox').prop('checked',false).end()
});

$('.section_title').on('click',function(){
  $(this).next('.toggle-collapse').toggle();
});

$('#map_default_bbox').on('click',function(){
    $('#bbox_values').remove();
    bounds = mapPreview.save_bounds();
    var act_main_slide = get_current_mainslide_id();
    //var mapid = parseInt($('#map_title').attr('mapid'));
    var mapid = $('#map_title').attr('mapid');
    GlobalMaps[mapid]['map'].bounds = bounds;
    //GlobalContents.maps[act_main_slide]['bounds'] = bounds;
    //GlobalContents.maps[act_main_slide]['map'].zoomToBB(GlobalContents.maps[act_main_slide]['bounds']);
    $(this).after('<div id="bbox_values" class="col-sm-1" style="display:none;"><small>'+bounds.toString()+'</small></div>');
    console.log('bbox: '+bounds.toString());
});

$('.map_add_markers').on('click',function(){
  add_marker = true;
  $(this).toggleClass('btn-pressed');
  // var clone = $(this).parent().clone();
  // $('#map_add_markers').append(clone);
});

$('#placemap').on('click',function(){
  var act_main_slide = get_current_mainslide_id();
  //var mapid = parseInt($('#map_title').attr('mapid'));
  var mapid = $('#map_title').attr('mapid');
  
  // remove CKEDITOR if present
  CKEDITOR.instances[act_main_slide].destroy();
  console.log('CKEDITOR: '+act_main_slide+' removed.');

  //store to GlobalContents.maps object [load_maps.js]
  if ( typeof GlobalContents.maps[act_main_slide] !== 'undefined' && GlobalContents.maps[act_main_slide].hasOwnProperty('map') ){
      console.log('Clean Map obj');
      $('#'+act_main_slide).empty();
      if(GlobalContents.maps[act_main_slide].map != null ){
        GlobalContents.maps[act_main_slide]['map'].map.off();
        GlobalContents.maps[act_main_slide]['map'].map.remove();
      }
  }
  GlobalContents.maps[act_main_slide] = {};
  GlobalContents.maps[act_main_slide]['general_info'] = GlobalMaps[mapid]['map'].general_info;
  GlobalContents.maps[act_main_slide]['baselayers'] = GlobalMaps[mapid]['map'].baselayers;
  GlobalContents.maps[act_main_slide]['overlayers'] = GlobalMaps[mapid]['map'].overlayers;
  GlobalContents.maps[act_main_slide]['markers'] = GlobalMaps[mapid]['map'].markers;
  GlobalContents.maps[act_main_slide]['bounds'] = GlobalMaps[mapid]['map'].bounds;
  render_map(act_main_slide);
});

$('#deletemap').on('click',function(){
  var confirm = confirmAction("This action can not be undone, proceed?");
  if (confirm){
    var this_slide_id = get_current_mainslide_id();
    var slide_n = this_slide_id.split('-')[1];
    if ( GlobalContents.maps.hasOwnProperty( 'slide_main-'+slide_n ) ){
      $('#slide_main-'+slide_n).replaceWith('<div id="slide_main-'+slide_n+'" class="slide-main-area main_padding_left tooltipoff editablediv vertical-middle" status="active" data-toggle="tooltip" title="Main Slide Content.">');
      GlobalContents.maps['slide_main-'+slide_n]['map'].map.off();
      GlobalContents.maps['slide_main-'+slide_n]['map'].map.remove();
      delete GlobalContents.maps['slide_main-'+slide_n];
      console.log('Map: '+'slide_main-'+slide_n+' Deleted');
      //console.log(GlobalContents.maps);
      
      // enable ckeditor for main div
      CKEDITOR.inline( this_slide_id );
      $('#'+this_slide_id).attr('contenteditable',true);
      CKEDITOR.instances[this_slide_id].setData('<h1 style="text-align:center"><span style="font-size:72px">Add your content here ...</span></h1>');
      $('#'+this_slide_id).css({'background-image':'url(./imgs/loading_img2.jpg)','background-size': 'cover','background-position':'50% 0%'});
    }
  }
});

$('#load_exisiting_map').on('click',function(){
  var map_id;
  var selected = $('#select_existing_maps').val();

  if (GlobalMaps.hasOwnProperty(selected)){
   map_id = selected;
  }
//   $.each(GlobalMaps,function(key,obj){
//          if (obj['div_id'] === selected){
//              map_id = key;//GlobalMaps.indexOf(obj);
//         }
//   });
  console.log(map_id);
  populate_map_form(null,map_id);
});

</script>
